html{
  height: 100%;
  margin: 0;
}

body{
   font-family: 'Lato';
   margin: auto;
}

@font-face{
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf");
}

#black-backdrop{
  background-color: black;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

#background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  /* background-image: url("../images/WrongbirdSlate.gif"); */
  background-image: url("https://www.imgur.com/Vb5VhUn.png");
  opacity: 0.3;
}

.video{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: .4;
}

#content{
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#name{
  display: inline;
  align-items: center;
  color: white;
  transition: opacity 4s linear;
  font-size: 3em;
  cursor: default;
  position: fixed;
  top: 40vh;
  text-align: center;
}

.name-top{
  top: 0;
  font-size: 2em;
}

#desc{
  font-size: 2em;
}

.panel{
  position: relative;
}

.home{
  text-align: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  /* transition-duration: 5s; */

}

.info{
  padding-top: 3em;
  height: 100vh;
}

#nav-pane{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  cursor: default;
}

#nav-area{
  /* position: fixed; */
  flex-grow: 1;
  height: 100%;
  display: -webkit-box;
}

#shows-area{
  display: grid;
  /* background-color: red; */
}
#gallery-area{
  /* background-color: blue; */
}
#video-area{
  /* background-color: green; */
}
#contact-area{
  /* background-color: purple; */
}
.nav-button{
  cursor: pointer;
  color: #5a5a5a;
}

.nav-selected{
  color: white;
}

.nav-location{
  width: 100%;
  height: 100%;
  margin-right: 30px;
}


.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hide{
  display: none !important;
}

#show{
  max-width: 1000px;
  color: white;
  background-color: rgba(1,1,1,.5);
  padding: 10px;
  display: inline-block;
  margin: 15px auto;
  font-size: 0.8em;
}

.show-left{
  float: left;
}

.show-right{
  float: right;
}

.grid-item { 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 4em;
  height: 4em;
  float: left;
}

.grid-item-wide {
  width: 8em;
  height: 4em;
}

.grid-item-tall {
  width: 4em;
  height: 8em;
}

.grid-item:hover{
  opacity: 0.6;
}  

.grid-item--width2 { width: 400px; height: 400px; }


html {
  font-size: 1rem;
}

a {
  color: white;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 2rem;
  }
}