html{
  height: 100%;
  margin: 0;
}

body{
   font-family: 'Lato';
   margin: auto;
}

@font-face{
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf");
}

#background{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.video{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: .4;
}

#content{
}

#name{
  display: inline;
  align-items: center;
  color: white;
  transition: opacity 4s linear;
  font-size: 3em;
  cursor: default;
  position: fixed;
  top: 40vh;
  text-align: center;
}

.name-top{
  top: 0;
  font-size: 2em;
}

#desc{
  font-size: 2em;
}

.panel{
  position: relative;
}

.home{
  text-align: center;
  width: 100%;
  align-items: center;
}

.info{
  padding-top: 3em;
}

#nav-pane{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  cursor: default;
}

#nav-area{
  position: fixed;
  display: -webkit-box;
  flex-grow: 1;
  height: 100%;
}

#shows-area{
  /* background-color: red; */
}
#gallery-area{
  /* background-color: blue; */
}
#video-area{
  /* background-color: green; */
}
#contact-area{
  /* background-color: purple; */
}
.nav-button{
  cursor: pointer;
  color: #5a5a5a;
}

.nav-selected{
  color: white;
}

.nav-location{
  width: 100%;
  height: 100%;
  margin-right: 30px;
}


.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.invisible{
  visiblity: hidden !important;
}

html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 2rem;
  }
}